# Diretórios que não irão subir
node_modules/
/node_modules
dist/
coverage/
logs/

# Arquivos
*.log
*.tmp
package-lock.json
yarn.lock
tsconfig.tsbuildinfo.json
typings/
uploads/

# Configurações
.editorconfig
.vscode/
.env*
